* {
    margin: 0 auto;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

a:hover{
    color: rgb(83, 48, 138);
    font-size: 20px;
}

header{
    height: 40px;
    display: flex;
    align-items: center;
    padding: 15px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top:25px;
    background-color: rgb(255, 152, 152);
}

#logout{
    cursor: pointer;
    transition: 0.4s;
}

#logout:hover{
    color: rgb(83, 48, 138);
    font-size: 20px;
}

.hidden{
    display: none;
}

#movBody{
    display: flex;
    gap: 15px;
    margin: 50px;
    flex-wrap: wrap;
}

.movie-card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 2px rgb(187, 187, 187);
    width: 250px;
    gap: 5px;
}

.movie-card h2{
    font-size: 21px;
    text-align: center; 
    margin-bottom: 15px;
}

.movie-card img{
    width: 100%;
    height: 100%;
    margin-top: 10px;
}